.container{
    color: white;
    margin-top: 120px;
    display: flex;
    background: #4863A0 ;
    flex-direction: row;
    justify-content: space-between;
   
    padding: 58px 10%;
    gap: 10px;
}
.text h2{
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;

}
.text p{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 4px;
}
.image{
    width: 40px;
    border-radius: 55%;
}
.links{
    display: flex;
    align-items:flex-start;
    gap: 25px;
    list-style: none;
    flex-direction: column;
}
.link{
    display: flex;
    align-items: center;
    gap: 25px;
}
.link .linktxt{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
@media  screen and (max-width: 830px){
    .container{
        flex-direction: column;
        gap: 23px;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .links{
        align-items: center;
    }
}