* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1051%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='38.26' cx='238.6' cy='530.23' fill='url(%26quot%3b%23SvgjsLinearGradient1052%26quot%3b)'%3e%3c/circle%3e%3ccircle r='29.145' cx='490.33' cy='118.61' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='34.19' cx='568.07' cy='532.74' fill='url(%26quot%3b%23SvgjsLinearGradient1053%26quot%3b)'%3e%3c/circle%3e%3ccircle r='23.115' cx='1091.59' cy='305.39' fill='url(%26quot%3b%23SvgjsLinearGradient1054%26quot%3b)'%3e%3c/circle%3e%3ccircle r='33.88' cx='197.09' cy='362.31' fill='url(%26quot%3b%23SvgjsLinearGradient1055%26quot%3b)'%3e%3c/circle%3e%3ccircle r='27.41' cx='269.58' cy='385.06' fill='url(%26quot%3b%23SvgjsLinearGradient1056%26quot%3b)'%3e%3c/circle%3e%3ccircle r='26.02' cx='178.95' cy='372.13' fill='url(%26quot%3b%23SvgjsLinearGradient1057%26quot%3b)'%3e%3c/circle%3e%3ccircle r='54.585' cx='1112.3' cy='341.02' fill='url(%26quot%3b%23SvgjsLinearGradient1058%26quot%3b)'%3e%3c/circle%3e%3ccircle r='46.7' cx='836.38' cy='413.24' fill='url(%26quot%3b%23SvgjsLinearGradient1059%26quot%3b)'%3e%3c/circle%3e%3ccircle r='19.995' cx='716.11' cy='476.88' fill='url(%26quot%3b%23SvgjsLinearGradient1060%26quot%3b)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1051'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='162.07999999999998' y1='530.23' x2='315.12' y2='530.23' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1052'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='499.69000000000005' y1='532.74' x2='636.45' y2='532.74' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1053'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1045.36' y1='305.39' x2='1137.82' y2='305.39' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1054'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='129.32999999999998' y1='362.31' x2='264.85' y2='362.31' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1055'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='214.76' y1='385.06' x2='324.4' y2='385.06' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1056'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='126.91' y1='372.13' x2='230.99' y2='372.13' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1057'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1003.13' y1='341.02' x2='1221.47' y2='341.02' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1058'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='742.98' y1='413.24' x2='929.78' y2='413.24' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1059'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='676.12' y1='476.88' x2='756.1' y2='476.88' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1060'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    width: 100%;
    height: 100%;
    color: white;
}

/* navbars styles */
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
}
.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;

}

.menuitems {
    display: flex;
    margin: 47px;
    list-style: none;
}

.menuitems a {
    font-size: 25px;
    padding: 15px  30px;
 border-radius: 25px;
    color: white;
    text-decoration: none;
    margin: 20px;
    font-weight: 600;
    
    
}
.menuitems a:hover {
    background-color: #416392;
    box-shadow: 0 0 5px  #416392, 0 0 25px  #416392, 0 0 50px  #416392, 0  0 200px  #416392;
    transform: scale(4);
    transition: 1.45s;
}

@media screen and (max-width:830px)  {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0px;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menubtn {
        display: block;
        margin: -24px;
        cursor: pointer;
        width: 80px;
        height: 80px;
    }

    .menuitems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(25, 55, 109);
        padding-top: 23px;
        padding-bottom: 23px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0, 25);
        background: linear-gradient(0deg, rgba(25, 55, 109, 0.2) 0%, rgba(25, 55, 109, 1)100%);

    }
   .menuopen{
    display: flex;
    z-index: 1;
   }
    .title {
        margin-bottom: 30px;
    }

}
@media screen and (min-width:830px) {
    .menubtn{
        display: none;
    }
}